<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".basededatos.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".comida.Cajero"
            android:exported="false" />
        <activity
            android:name=".admin.CajaAdmin"
            android:exported="false" />
        <activity
            android:name=".comida.Cocina"
            android:exported="false" />
        <activity
            android:name=".comida.Cocina_list"
            android:exported="false" />
        <activity
            android:name=".user.Ticket"
            android:exported="false" />
        <activity
            android:name=".comida.Plato_Ingrediente"
            android:exported="false" />
        <activity
            android:name=".mensaje.LoginMensaje"
            android:exported="false" />
        <activity
            android:name=".mensaje.Mandar_Mensaje"
            android:exported="false" />
        <activity
            android:name=".comida.Carta_Comida"
            android:exported="false" />
        <activity
            android:name=".admin.Add_user"
            android:exported="false" />
        <activity
            android:name=".user.Mesa_Usuarios"
            android:exported="false" />
        <activity
            android:name=".user.Olvido_Contra"
            android:exported="false" />
        <activity
            android:name=".admin.Mesa_Admins"
            android:exported="false" />
        <activity
            android:name=".admin.Menu_Usuarios"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>